{% extends 'base.html' %}
{% load static %}

{% block contect %}
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Zaloguj się</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Strona główna</a></li>
                <li class="active">Zaloguj się</li>
            </ul>
        </div>
    </div>
</div>

<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-section">
                    <h3>Zaloguj się</h3>
                    {% include 'includes/messages.html' %}
                    <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                        <div class="form-group form-box">
                            <input type="text" name="username" class="input-text" placeholder="Nazwa użytkownika" required>
                            <i class="flaticon-mail"></i>
                        </div>
                        <div class="form-group form-box">
                            <input type="password" name="password" class="input-text" placeholder="Hasło" required>
                            <i class="flaticon-lock"></i>
                        </div>
                        <div class="form-group mb-0 clearfix">
                            <button type="submit" class="btn-md btn-theme float-left">Zaloguj</button>
                        </div>
                        <div class="extra-login clearfix">
                        </div>
                        <div class="clearfix"></div>
                    </form>
                    <p>Nie masz konta? <a href="{% url 'register' %}" class="thembo"> Zarejestruj się tutaj</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}