{% extends 'base.html' %}

{% block title %}
- Usługi
{% endblock %}

{% block contect %}

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Usługi</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Strona główna</a></li>
                <li class="active">Usługi</li>
            </ul>
        </div>
    </div>
</div>

<div class="services content-area">
    <div class="container">
        <div class="main-title text-center">
            <h1>Nasze usługi</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="icon">
                        <i class="flaticon-car"></i>
                    </div>
                    <div class="detail">
                        <h3>Dokładne oględziny</h3>
                        <p>Każdy z samochodów jest indywidualnie sprawdzany przez naszych specjalistów</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                    </div>
                    <div class="detail">
                        <h3>Szybka dostawa</h3>
                        <p>Dostarczymy twój zakupiony samochód pod sam dom</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="icon">
                        <i class="flaticon-motor"></i>
                    </div>
                    <div class="detail">
                        <h3>Naprawa</h3>
                        <p>Przez pierwsze pół roku świadczymy darmową robociznę</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}