{% extends 'base.html' %}

{% block contect %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Samochody</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Główna</a></li>
                <li class="active">Samochody</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag">Wynajem</div>
                                    <div class="price-box">
                                        <span>100 zł</span>
                                    </div>
                                    <img class="d-block w-100" src="img/car/car-1.jpg" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="img/car/car-1.jpg" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="img/car/car-1.jpg">
                                                </a>
                                                <a href="img/car/car-2.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-2.jpg">
                                                </a>
                                                <a href="img/car/car-3.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-3.jpg">
                                                </a>
                                                <a href="img/car/car-4.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-4.jpg">
                                                </a>
                                                <a href="img/car/car-5.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-5.jpg">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="car-details.html">Lamborghini Huracán</a>
                                </h1>
                                <div class="location">
                                    <a href="car-details.html">
                                        <i class="flaticon-pin"></i>Kraków
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Benzyna</li>
                                    <li>4,000 km</li>
                                    <li>Manualna</li>
                                    <li>Sportowe</li>
                                    <li>Biały</li>
                                    <li>2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag-2 bg-active">Opis</div>
                                    <div class="price-box">
                                        <span>100 zł</span>
                                    </div>
                                    <img class="d-block w-100" src="img/car/car-6.jpg" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="img/car/car-6.jpg" class="overlap-btn" >
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="img/car/car-6.jpg" >
                                                </a>
                                                <a href="img/car/car-2.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-2.jpg" >
                                                </a>
                                                <a href="img/car/car-3.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-3.jpg" >
                                                </a>
                                                <a href="img/car/car-4.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-4.jpg" >
                                                </a>
                                                <a href="img/car/car-1.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-1.jpg" >
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="car-details.html">Audi Q7 2018</a>
                                </h1>
                                <div class="location">
                                    <a href="car-details.html">
                                        <i class="flaticon-pin"></i>Kraków
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Benzyna</li>
                                    <li>4,000 km</li>
                                    <li>Manualna</li>
                                    <li>Sportowe</li>
                                    <li>Biały</li>
                                    <li>2021</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag">Wynajem</div>
                                    <div class="price-box">
                                        <span>$980.00</span>
                                    </div>
                                    <img class="d-block w-100" src="img/car/car-5.jpg" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="img/car/car-5.jpg" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="img/car/car-5.jpg" >
                                                </a>
                                                <a href="img/car/car-2.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-2.jpg" >
                                                </a>
                                                <a href="img/car/car-3.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-3.jpg" >
                                                </a>
                                                <a href="img/car/car-4.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-4.jpg" >
                                                </a>
                                                <a href="img/car/car-1.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-1.jpg" >
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="car-details.html">Toyota Prius Specs</a>
                                </h1>
                                <div class="location">
                                    <a href="car-details.html">
                                        <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Benzyna</li>
                                    <li>4,000 km</li>
                                    <li>Manualna</li>
                                    <li>Sportowe</li>
                                    <li>Biały</li>
                                    <li>2021</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag">Na sprzedaż</div>
                                    <div class="price-box">
                                        <span>100 zł</span>
                                    </div>
                                    <img class="d-block w-100" src="img/car/car-3.jpg" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">

                                            <div class="car-magnify-gallery">
                                                <a href="img/car/car-3.jpg" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="img/car/car-3.jpg" >
                                                </a>
                                                <a href="img/car/car-2.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-2.jpg" >
                                                </a>
                                                <a href="img/car/car-1.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-1.jpg" >
                                                </a>
                                                <a href="img/car/car-4.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-4.jpg" >
                                                </a>
                                                <a href="img/car/car-5.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-5.jpg" >
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="car-details.html">2015 Porsche Cayenne</a>
                                </h1>
                                <div class="location">
                                    <a href="car-details.html">
                                        <i class="flaticon-pin"></i>Kraków
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Benzyna</li>
                                    <li>4,000 km</li>
                                    <li>Manualna</li>
                                    <li>Sportowe</li>
                                    <li>Biały</li>
                                    <li>2021</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag-2 bg-active">Opis</div>
                                    <div class="price-box">
                                        <span>100 zł</span>
                                    </div>
                                    <img class="d-block w-100" src="img/car/car-2.jpg" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">

                                            <div class="car-magnify-gallery">
                                                <a href="img/car/car-2.jpg" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="img/car/car-2.jpg" >
                                                </a>
                                                <a href="img/car/car-1.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-1.jpg" >
                                                </a>
                                                <a href="img/car/car-3.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-3.jpg" >
                                                </a>
                                                <a href="img/car/car-4.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-4.jpg" >
                                                </a>
                                                <a href="img/car/car-5.jpg" class="hidden">
                                                    <img class="hidden" src="img/car/car-5.jpg" >
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="car-details.html">Lexus GS Red Car</a>
                                </h1>
                                <div class="location">
                                    <a href="car-details.html">
                                        <i class="flaticon-pin"></i>Kraków
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Benzyna</li>
                                    <li>4,000 km</li>
                                    <li>Manualna</li>
                                    <li>Sportowe</li>
                                    <li>Biały</li>
                                    <li>2021</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag">Na sprzedaż</div>
                                    <div class="price-box">
                                        <span>100 zł</span>
                                    </div>
                                    <img class="d-block w-100" src="img/car/car-4.jpg" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">

                                            <div class="car-magnify-gallery">
                                                <a href="img/car/car-4.jpg" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="img/car/car-4.jpg" >
                                                </a>
                                                <a href="img/car/car-2.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-2.jpg" >
                                                </a>
                                                <a href="img/car/car-3.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-3.jpg" >
                                                </a>
                                                <a href="img/car/car-1.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-1.jpg" >
                                                </a>
                                                <a href="img/car/car-5.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-5.jpg" >
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="car-details.html">Toyota Corolla</a>
                                </h1>
                                <div class="location">
                                    <a href="car-details.html">
                                        <i class="flaticon-pin"></i>Kraków
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Benzyna</li>
                                    <li>4,000 km</li>
                                    <li>Manualna</li>
                                    <li>Sportowe</li>
                                    <li>Biały</li>
                                    <li>2021</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag-2 bg-active">Opis</div>
                                    <div class="price-box">
                                        <span>100 zł</span>
                                    </div>
                                    <img class="d-block w-100" src="img/car/car-2.jpg" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="img/car/car-2.jpg" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="img/car/car-2.jpg" >
                                                </a>
                                                <a href="img/car/car-1.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-1.jpg" >
                                                </a>
                                                <a href="img/car/car-3.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-3.jpg" >
                                                </a>
                                                <a href="img/car/car-4.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-4.jpg" >
                                                </a>
                                                <a href="img/car/car-5.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-5.jpg" >
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="car-details.html">Lexus GS Red Car</a>
                                </h1>
                                <div class="location">
                                    <a href="car-details.html">
                                        <i class="flaticon-pin"></i>Kraków
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Benzyna</li>
                                    <li>4,000 km</li>
                                    <li>Manualna</li>
                                    <li>Sportowe</li>
                                    <li>Biały</li>
                                    <li>2021</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag">Na sprzedaż</div>
                                    <div class="price-box">
                                        <span>100 zł</span>
                                    </div>
                                    <img class="d-block w-100" src="img/car/car-4.jpg" alt="car">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="img/car/car-4.jpg" class="overlap-btn" >
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="img/car/car-4.jpg" >
                                                </a>
                                                <a href="img/car/car-2.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-2.jpg" >
                                                </a>
                                                <a href="img/car/car-3.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-3.jpg" >
                                                </a>
                                                <a href="img/car/car-1.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-1.jpg" >
                                                </a>
                                                <a href="img/car/car-5.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-5.jpg" >
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="car-details.html">Toyota Corolla</a>
                                </h1>
                                <div class="location">
                                    <a href="car-details.html">
                                        <i class="flaticon-pin"></i>Kraków
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Benzyna</li>
                                    <li>4,000 km</li>
                                    <li>Manualna</li>
                                    <li>Sportowe</li>
                                    <li>Biały</li>
                                    <li>2021</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page navigation start -->
                <div class="pagination-box p-box-2 text-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search2">
                        <h3 class="sidebar-title">Wyszukaj</h3>
                        <form method="GET">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="brand">
                                    <option>Marka</option>
                                    <option>Każdy</option>
                                    <option>Nowy</option>
                                    <option>Praktycznie nowy</option>
                                    <option>Uszkodzony</option>
                                    <option>Używany</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="location">
                                    <option>Lokalizacja</option>
                                    <option>Kraków</option>
                                    <option>Kraków</option>
                                    <option>Kraków</option>
                                    <option>Kraków</option>
                                    <option>Kraków</option>
                                    <option>Kraków</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="year">
                                    <option>Rok</option>
                                    <option>2022</option>
                                    <option>2021</option>
                                    <option>2020</option>
                                    <option>2019</option>
                                    <option>2018</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="category">
                                    <option>Kategoria</option>
                                    <option>Luksusowe</option>
                                    <option>Pickup</option>
                                    <option>Van</option>
                                    <option>Sedan</option>
                                    <option>Sportowe</option>
                                    <option>Hatchback</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="transmission">
                                    <option>Skrzynia biegów</option>
                                    <option>Automatyczna</option>
                                    <option>Manualna</option>
                                </select>
                            </div>
                            <div class="range-slider clearfix">
                                <label>Cena</label>
                                <div data-min="0" data-max="150000"  data-min-name="min_price" data-max-name="max_price" data-unit="PLN" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group mb-0">
                                <button class="search-button btn">Szukaj</button>
                            </div>
                        </form>
                    </div>

                    <!-- Question start -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->
{% endblock %}